
<div class="page">

  <nav>
    the background here shows the susy grid layout - should change the number of columns as you resize
  </nav>

  <div class="full-width">
    <div class="carousel">
      carousrel - has white backgrond so covering susy grid
    </div>
  </div>

  <div class="full-width">
    <div class="one_of_three">one of three</div>
    <div class="one_of_three">one of three</div>
    <div class="one_of_three">one of three</div>
    <div class="one_of_three">one of three</div>
    <div class="one_of_three">one of three</div>
    <div class="one_of_three">one of three</div>
  </div>

  <div class="full-width"> 
    <div class="one_of_ten">1 of 10</div>
    <div class="one_of_ten">1 of 10</div>
    <div class="one_of_ten">1 of 10</div>
    <div class="one_of_ten">1 of 10</div>
    <div class="one_of_ten">1 of 10</div>
    <div class="one_of_ten">1 of 10</div>
    <div class="one_of_ten">1 of 10</div>
    <div class="one_of_ten">1 of 10</div>
    <div class="one_of_ten">1 of 10</div>
    <div class="one_of_ten">1 of 10</div>
  </div>
  
</div>